* {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;

  border: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}