@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #DE7850, #FFF06B);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e1e1f;
}
}